<template>
    <v-row>
        <v-col :cols="12">
            <v-card color="error" dark>
                <v-date-picker v-model="date" full-width locale="es-ec" :min="minDate" :max="maxDate"
                               @change="getDolar(date)">

                </v-date-picker>
            </v-card>
            <v-card color="error" dark>
                <v-card-text class="display-1 text-sm-center">
                    {{value}}
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    // @ is an alias to /src
    import axios from 'axios'
    import {mapMutations} from 'vuex'

    export default {
        name: 'home',
        data() {
            return {
                date: new Date().toISOString().substr(0, 10),
                minDate: '1984',
                maxDate: new Date().toISOString().substr(0, 10),
                value: null
            }
        },
        methods: {
            ...mapMutations(['showLoading', 'hideLoading']),
            async getDolar(date) {
                let dateArray = date.split(['-']);
                let finalDate = dateArray[2] + '-' + dateArray[1] + '-' + dateArray[0];

                try {
                    this.showLoading({title: 'Accediendo a los datos', color: 'secundary'});
                    let data = await axios.get(`https://mindicador.cl/api/dolar/${finalDate}`);

                    if (data.data.serie.length > 0) {
                        this.value = await data.data.serie[0].valor
                    } else {
                        this.value = 'Sin resultados'
                    }
                } catch (e) {

                } finally {
                    this.hideLoading();
                }
            }
        },

        created() {
            this.getDolar(this.date)
        }
    }
</script>
